<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fre.shown.tryboot.dao.SeckillOrderDAO">

<!--    void addOrder(SeckillOrderDO seckillOrderDO);-->
    <insert id="addOrder">
        insert into `seckill_order` (username, seckill_good_id, delivery_info_id, good_name, good_count, good_price, order_channel,
                             status)
        values (#{username}, #{seckillGoodId}, #{deliveryInfoId}, #{goodName}, #{goodCount}, #{goodPrice}, #{orderChannel},
                #{status});
    </insert>

<!--    Boolean isOrderExisted(String username, Long seckillGoodId);-->
    <select id="isOrderExisted" resultType="Boolean">
        select count(username) > 0
        from `seckill_order`
        where username = #{username}
          and seckill_good_id = #{seckillGoodId};
    </select>
</mapper>
